<% status_class = user.profile.status %>
<% case status_class %>
<% when "active" %>
  <div class="badge badge-success">
    active
  </div>
<% when "inactive" %>
  <div class="badge badge-error">
    inactive
  </div>
<% else %>
  <div class="badge badge-secondary">
    unknown
  </div>
<% end %>